.pathround{
    stroke-linecap:round;
    stroke-linejoin: round;
    stroke-width: 2px;
}
#pathround{
    stroke-linecap:round;
    stroke-linejoin: round;
    stroke-width: 2px;
}
.img{
    height: 25vh;
}

.searchbox{
    outline: none;
    padding: 4px;
}
marquee{
    margin-top: 4px;
    color: red;
    font-size: 22px;
    font-weight: 700;
}



@media screen and (max-width: 375px) {
    .menuitem {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .liItem {
        display: none;
    }
}
@media screen and (min-width: 789px) and (max-width:1023px) {
    .tabletitem {
        display: none;
    }
}
@media screen and (min-width: 1024px) and (max-width:1440px) {
    .laptop {
        display: none;
    }
}
@media screen and (min-width:1440px) and (max-width:1440px) {
    .laptop {
        display: block;
    }
}
.Recharge{
    border: 2px solid black;
    height: 70px;
    display: flex;
    padding: 111px;
    text-align:center;
    justify-content:space-between;
}
.classNamebox{
    border: 2px solid black;
    height: 30px;
    padding: 20px;
   

}