.pathround{
    stroke-linecap:round;
    stroke-linejoin: round;
    stroke-width: 2px;
}
#pathround{
    stroke-linecap:round;
    stroke-linejoin: round;
    stroke-width: 2px;
}
.img{
    height: 25vh;
}
.logo{
    mix-blend-mode:color-burn 
}
.searchbox{
    outline: none;
    padding: 4px;
}